{% extends "layout.html" %}

{% block sidebar %}
  {% for p in post %}
    <li>{{ p.title }}</li>
  {% endfor %}
{% endblock %}

{% block body %}

{% for p in post %}
<article class='hero-unit'>
    <header class='article_title'>
        <h1><a href"#">{{ p.title }}</a></h1>
        <strong>Posted: {{ p.date }} By, {{ p.author }}</strong>
    </header>

    <span>{{ p.content|safe }}</span>
    <a class="headerlink" href="#virtualenv" title="Permalink to this headline"></a></h2>

    <footer class='article_footer'>
    </footer>
</article>
{% endfor %}

{% endblock %}
